{% extends "base.html" %}
{% block title %} Login Page {% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
<h2>Enter in your username and password or select <b>create and account</b> to make a new account</h2>
<p> </p>
{% if one %}
    <script>
    alert("This account does not exist, please enter a valid account or create an account");
    </script>
{% endif %}
<form action="#" method = "post">
    <p>User Name: </p>
    <p><input type = "text" name="nm"></p>
    <p>Password</p>
    <p><input type="text" name="ps"></p>
    <p><input type="submit" value="submit"></p>
</form>

<a href="http://127.0.0.1:5000/create">
    <button type="button"> Create Account</button>
</a>
{% endblock %}