{% extends "base.html" %}
{% block title %} Create User Page {% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

<h2>Enter your account details to make a new account</h2>
<!-- This is where the user will input their credentials and information to create a new account-->
<form action="#" method = "post" enctype="multipart/form-data">
    <p>User Name: </p>
    <p><input type = "text" name="nm" required></p>
    <p>Password: </p>
    <p><input type="text" name="ps" required></p>
    <p>Email: </p>
    <p><input type = "text" name = "em" required></p>
    <p>Age (optional): </p>
    <p><input type = "number" name = "ag" ></p>
    <p>Profile Picture (optional): </p>
    <p><input type ="file" name="png" accept ="image/*" ></p>
    <p><input type="submit" value="submit"></p>
</form>
{% endblock %}