{% extends "base.html" %}
{% block title %} Details {% endblock %}

{% block content %}

<style>
    .word{
        background-color: grey;
        border: 7px solid #555;
        border-radius: 10px;
        padding: 10px;
        font-size: 18px;
        font-color: white;
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: pre-wrap;

    }
</style>
<body style="background-color:lightgrey">
{% if photo %}
    <img style="border: 7px solid #555; border-radius: 10px; background-color: powderblue;" src="{{photo}}" alt="Your Profile Picture" class="pic" width="200">
{% else %}
    <img style="border: 7px solid #555; border-radius: 10px; background-color: powderblue;" src="static/profile_icon.png" alt="Your Profile Picture" class="pic" width="200">
{% endif %}


<p style="font-size: 42px; color: black"> {{user}} </p>
<p style="font-size: 32px"><b>Contact: </b></p>
{% if email %}
<p><u>Email: {{email}} </u></p>
{% else %}
<p><u>Email: N/A </u></p>
{% endif %}

{% if phone %}
<p><u>Phone Number: {{phone}}</u></p>
{% else %}
<p><u>Phone Number: N/A</u></p>
{% endif %}

<p style="font-size: 32px"><b>Personal Info: </b></p>
{% if age %}
<p><u> Age: {{num}}</u></p>
{% else %}
<p><u> Age: N/A</u></p>
{% endif %}

{% if birth %}
<p><u>Birthday: {{birth}}</u></p>
{% else %}
<p><u>Birthday: N/A</u></p>
{% endif %}

{% if address %}
<p><u>Address: {{address}}</u></p>
{% else %}
<p><u>Address: N/A</u></p>
{% endif %}


<p style="font-size: 32px"><b>Education: </b></p>
<div style="transform: translate(800px, -850px); max-width: 600px;"  >
    <p style="font-size: 32px;"><b>Bio: </b></p>
    {% if bio %}
    <p style="color: white; " class="word"> {{bio}}</p>
    {% else %}
    <p style="color: white; " class="word"> N/A</p>
    {% endif %}
    <p style="font-size: 32px;"><b>Activities/Hobbies: </b></p>
    <p style="color: white; " class="word">Activity 1: </p>
    <p style="color: white; " class="word">Activity 2: </p>
    <p style="color: white; " class="word">Activity 3: </p>
</div>
</body>
{% endblock %}