{% extends "base.html" %}
{% block title %}Editor{% endblock %}
{% block content %}

<!--log determines whether the user is actually logged in when on this page
 so if log is true then we wil redirect the user to the login page, else, we will proceed
 with the edit page-->
{% if log %}
    <script>
    function showMessage() {
        alert("Please log in first in order to access this point");
        window.location.href = "http://127.0.0.1:5000/login"
    }

    showMessage();
    </script>
<!-- This form will hold all the users current info, and allow the user to edit the
info as they see fit-->
{% endif %}
<form action="#" method="post" enctype="multipart/form-data">
    <input type="file" id="fileUpload" accept="image/*" style="display: none" name="image">
    <!-- Hre we label the file input with the users current profile image so that
    when they click on their current image, it will pull up their files so that they can select
    a new image if they want to-->
    <label for="fileUpload">
    <div style="overflow: auto;">
      <!-- Checks to see if the user already has an image uploaded, but if they don't
       then, they will just have an icon image that they can click on-->
      {% if pic %}
        <img src="{{pic}}" alt="Click to upload"  width="300" style="cursor: pointer; border: 2px dashed gray; padding: 5px;
        float: left; margin: 10px; width: 200px;">
        <p style="font-size: 15px"><b>Click here to change the image</b></p>
      {% else %}
        <img src="static/profile_icon.png" alt="Click to upload"  width="300" style="cursor: pointer; border: 2px dashed gray; padding: 5px;
        float: left; margin: 10px; width: 200px;">
        <p>Click here to change the image</p>
      {% endif %}
    </div>
    </label>

    <p style="font-size: 32px"><b>Contact: </b></p>
    <!-- This checks to see if there is an email for the user and if so it will
    load the email into the template as well when it is rendered-->
    <div class="image-text-container">
    {% if email %}
        <p id="email1">Email: {{email}}</p>
    {% else %}
        <p id="email2">Enter email:</p>
    {% endif %}
    </div>
    <!-- We will use this image to trigger the reveal of the text box that users can
    use to change their email-->
    <img src="static/edit_symbol.png" id="edit1" alt="Change Email" width="30px">
    <input type="text" id="emailChange" class = "hide" name="email">
    <button class="hide" type="button" style="padding: 2.5px" id="emailSave">save</button>
    <!-- Checks to see if the phone number is there and if so, the phone number will
    also be loaded into the template upon rendering -->
    <div class="image-text-container">
    {% if phone %}
        <p id="number1">Phone Number: {{phone}}</p>
    {% else %}
        <p id="number2">Enter Phone Number:</p>
    {% endif %}
    </div>
    <!-- We will use this image to trigger the reveal of the text box that users can
    use to change their phone-->
    <img src="static/edit_symbol.png" id="edit2" alt="Change Phone" width="30px">
    <input type="number" id="phoneChange" class="hide" name="phone">
    <button class="hide" type="button" style="padding: 2.5px" id="phoneSave">save</button>
    <p style="font-size: 32px"><b>Education: </b></p>
    <!-- Here we wil give the user the ability to add up to three levels of education that
    they have received-->
    <div class="image-text-container">
    <p id="edu1" style="border: 2px dashed black; border-radius: 10px;">Add(optional)</p>
        <textarea rows="3" cols="30" id="text1" name="active1" class="hide"></textarea>
        <button class="hide" type="button" style="padding: 3px" id="edu1.2">save</button>
    <p id="edu2" class="hide" style="border: 2px dashed black; border-radius: 10px;">Add(optional)</p>
        <textarea rows="3" cols="30" id="text2" name="active2" class="hide"></textarea>
        <button type="button" style="padding: 3px" id="edu2.2" class="hide">save</button>
    <p id="edu3" class="hide" style="border: 2px dashed black; border-radius: 10px;">Add(optional)</p>
        <textarea rows="3" cols="30" id="text3" name="active3" class="hide"></textarea>
        <button type="button" style="padding: 3px" id="edu3.2" class="hide">save</button>
    </div>
    <!-- Here we move the bio to the right and also check to see if a bio is present.
     If a bio is present, then we wll load it onto the screen or page when the template
     does render-->



    <div style="transform: translate(700px, -850px); max-width: 600px;">
        <p style="font-size: 32px"><b>Bio: </b></p>
            {% if bio %}
                <textarea rows="15" cols="70" name="bio" class="text">{{bio}}</textarea>
            {% else %}
                <textarea rows="15" cols="70" name="bio" class="text">Add Bio Here</textarea>
            {% endif %}
         <!-- Here we have the list of activities that the user can fill out in order to put on their profile
         what activities they participate in-->
        <p style="font-size: 32px"><b>Activities: </b></p>
        <div class="image-text-container">
        <p id="hob1" style="border: 2px dashed black; border-radius: 10px;">Add(optional)</p>
            <textarea rows="3" cols="30" id="write1" name="hobby1" class="hide"></textarea>
            <button class="hide" type="button" style="padding: 3px" id="hob1.2">save</button>
        <p id="hob2" class="hide" style="border: 2px dashed black; border-radius: 10px;">Add(optional)</p>
            <textarea rows="3" cols="30" id="write2" name="hobby2" class="hide"></textarea>
            <button type="button" style="padding: 3px" id="hob2.2" class="hide">save</button>
        <p id="hob3" class="hide" style="border: 2px dashed black; border-radius: 10px;">Add(optional)</p>
            <textarea rows="3" cols="30" id="write3" name="hobby3" class="hide"></textarea>
            <button type="button" style="padding: 3px" id="hob3.2" class="hide">save</button>
    </div>
    </div>
    <!-- Here is our submit button that submits all the changes that we have made and sends them to our user database-->
    <div style="transform: translate(0px, -600px); position: absolute;">
    <p style="font-size: 32px"><b>Personal Info: </b></p>

    <div class="image-text-container">
    {% if age %}
        <p id="age1">Age: {{age}}</p>
    {% else %}
        <p id="ageNext">Enter Age:</p>
    {% endif %}
    </div>
    <!-- We will use this image to trigger the reveal of the text box that users can
    use to change their age-->
    <img src="static/edit_symbol.png" id="edit3" alt="Change age" width="30px">
    <input type="number" id="ageChange" class="hide" name="age">
    <button class="hide" type="button" style="padding: 2.5px" id="ageSave">save</button>

     <div class="image-text-container">
    {% if birth %}
        <p id="birth1">Birth Date: {{birth}}</p>
    {% else %}
        <p id="birthNext">Enter Birth Date:</p>
    {% endif %}
    </div>
    <!-- We will use this image to trigger the reveal of the text box that users can
    use to change their birthdate-->
    <img src="static/edit_symbol.png" id="edit4" alt="Change birth" width="30px">
    <input type="text" id="birthChange" class="hide" name="birth">
    <button class="hide" type="button" style="padding: 2.5px" id="birthSave">save</button>

    <div class="image-text-container">
    {% if address %}
        <p id="address1">Address: {{address}}</p>
    {% else %}
        <p id="addressNext">Enter Address:</p>
    {% endif %}
    </div>
    <!-- We will use this image to trigger the reveal of the text box that users can
    use to change their address-->
    <img src="static/edit_symbol.png" id="edit5" alt="Change Address" width="30px">
    <input type="text" id="addressChange" class="hide" name="address">
    <button class="hide" type="button" style="padding: 2.5px" id="addressSave">save</button>

    <button type="submit" style="transform: translate(0px, 50px);" > Submit Changes</button>
    </div>



</form>
<script>
    /* Here we have all the elements of interest that are within the form right here by their ID's.*/
    const pencil = document.getElementById("edit1");
    const pencil1 = document.getElementById("edit2");
    const pencil2 = document.getElementById("edit3");
    const pencil3 = document.getElementById("edit4");
    const pencil4 = document.getElementById("edit5");
    const email = document.getElementById("emailChange");
    const phone = document.getElementById("phoneChange");
    const age = document.getElementById("ageChange");
    const birth = document.getElementById("birthChange");
    const address = document.getElementById("addressChange");
    const emailSave = document.getElementById("emailSave");
    const phoneSave = document.getElementById("phoneSave");
    const addressSave = document.getElementById("addressSave");
    const birthSave = document.getElementById("birthSave");
    const ageSave = document.getElementById("ageSave");
    const act1 = document.getElementById("edu1");
    const act2 = document.getElementById("edu2");
    const act3 = document.getElementById("edu3");
    const hob1 = document.getElementById("hob1");
    const hob2 = document.getElementById("hob2");
    const hob3 = document.getElementById("hob3");
    const text1 = document.getElementById("text1");
    const text2 = document.getElementById("text2");
    const text3 = document.getElementById("text3");
    const write1 = document.getElementById("write1");
    const write2 = document.getElementById("write2");
    const write3 = document.getElementById("write3");
    const save1 = document.getElementById("edu1.2");
    const save2 = document.getElementById("edu2.2");
    const save3 = document.getElementById("edu3.2");
    const push1 = document.getElementById("hob1.2");
    const push2 = document.getElementById("hob2.2");
    const push3 = document.getElementById("hob3.2");
    const theEmail1 = document.getElementById("email1");
    const theEmail2 = document.getElementById("email2");
    const thePhone1 = document.getElementById("number1");
    const thePhone2 = document.getElementById("number2");
    const birth1 = document.getElementById("birth1");
    const birthNext = document.getElementById("birthNext");
    const age1 = document.getElementById("age1");
    const ageNext = document.getElementById("ageNext");
    const address1 = document.getElementById("address1");
    const addressNext = document.getElementById("addressNext");


    const degree1 = "{{education1}}";
    const degree2 = "{{education2}}";
    const degree3 = "{{education3}}";

    const action1 = "{{activity1}}";
    const action2 = "{{activity2}}";
    const action3 = "{{activity3}}";


    if(action1){
        hob1.textContent = action1;
        if(hob1.classList.contains("hide")){
            hob1.classList.remove("hide");
        }
    }

    if(action2){
        hob2.textContent = action2;
        if(hob2.classList.contains("hide")){
            hob2.classList.remove("hide");
        }
    }

    if(action3){
        hob3.textContent = action3;
        if(hob3.classList.contains("hide")){
            hob3.classList.remove("hide");
        }
    }



    if(degree1){
        act1.textContent = degree1;
        if(act1.classList.contains("hide")){
            act1.classList.remove("hide");
        }
    }

    if(degree2){
        act2.textContent = degree2;
        if(act2.classList.contains("hide")){
            act2.classList.remove("hide");
        }
    }

    if(degree3){
        act3.textContent = degree3;
        if(act3.classList.contains("hide")){
            act3.classList.remove("hide");
        }
    }




    /* These first two functions are meant to allow the user to toggle the input box for the phone number
    and email if they would like to change it from what it currently is to something else*/
    pencil.addEventListener("click", function(){
        if(email.classList.contains("hide")){
            email.classList.remove("hide");
        } else {
            email.classList.add("hide");
        }

        if(emailSave.classList.contains("hide")){
            emailSave.classList.remove("hide");
        } else {
            emailSave.classList.add("hide");
        }

    });

    pencil1.addEventListener("click", function(){
        if(phone.classList.contains("hide")){
            phone.classList.remove("hide");
        } else {
            phone.classList.add("hide");
        }

        if(phoneSave.classList.contains("hide")){
            phoneSave.classList.remove("hide");
        } else {
            phoneSave.classList.add("hide");
        }
    });




    /* These next three functions are meant to allow the user to toggle the input box for the age,
     birth, and address if they would like to change it from what it currently is to something else*/
    pencil2.addEventListener("click", function(){
        if(age.classList.contains("hide")){
            age.classList.remove("hide");
        } else {
            age.classList.add("hide");
        }

        if(ageSave.classList.contains("hide")){
            ageSave.classList.remove("hide");
        } else {
            ageSave.classList.add("hide");
        }

    });


    pencil3.addEventListener("click", function(){
        if(birth.classList.contains("hide")){
            birth.classList.remove("hide");
        } else {
            birth.classList.add("hide");
        }

        if(birthSave.classList.contains("hide")){
            birthSave.classList.remove("hide");
        } else {
            birthSave.classList.add("hide");
        }
    });


    pencil4.addEventListener("click", function(){
        if(address.classList.contains("hide")){
            address.classList.remove("hide");
        } else {
            address.classList.add("hide");
        }

        if(addressSave.classList.contains("hide")){
            addressSave.classList.remove("hide");
        } else {
            addressSave.classList.add("hide");
        }
    });


    /* These next two functions handle editing the email and phone values that are displayed
    based off of the inputs of the user*/
    emailSave.addEventListener("click", function(){
        if(email.value){
            if(!(theEmail1 == null)){
                theEmail1.textContent = "Email: " + email.value;
            }
            if(!(theEmail2 == null)){
                theEmail2.textContent = "Email: " + email.value;
            }
        } else {
        const letter = "{{email}}";
            if(letter){
                theEmail1.textContent = "Email: " + letter;
            } else {
                theEmail2.textContent = "Enter Email: "
            }
        }
    });

    phoneSave.addEventListener("click", function(){
        if(phone.value){
            if(!(thePhone1 == null)){
                thePhone1.textContent = "Phone Number: " + phone.value;
            }
            if(!(thePhone2 == null)){
                thePhone2.textContent = "Phone Number: " + phone.value;
            }
        } else {
        const num = {{phone}};
            if(num){
                if(!(thePhone1 == null)){
                    thePhone1.textContent = "Phone Number: " + num;
                }
            } else {
                if(!(thePhone2 == null)){
                    thePhone2.textContent = "Enter Phone Number";
                }
            }
        }
    });


    /* These next three functions handle editing the birth, address, and age values that are displayed
    based off of the inputs of the user*/
    birthSave.addEventListener("click", function(){
        if(birth.value){
            if(!(birth1 == null)){
                birth1.textContent = "Birth: " + birth.value;
            }
            if(!(birthNext == null)){
                birthNext.textContent = "Birth: " + birth.value;
            }
        } else {
        const letter = "{{birth}}";
            if(letter){
                birth.textContent = "Birth: " + letter;
            } else {
                birth.textContent = "Enter Birth: "
            }
        }
    });

     ageSave.addEventListener("click", function(){
        if(age.value){
            if(!(age1 == null)){
                age1.textContent = "Age: " + age.value;
            }
            if(!(ageNext == null)){
                ageNext.textContent = "Age: " + age.value;
            }
        } else {
        const num = {{age}};
            if(num){
                if(!(age1 == null)){
                    age1.textContent = "Age: " + num;
                }
            } else {
                if(!(ageNext == null)){
                    ageNext.textContent = "Enter Age";
                }
            }
        }
    });

    addressSave.addEventListener("click", function(){
        if(address.value){
            if(!(address1 == null)){
                address1.textContent = "Address: " + address.value;
            }
            if(!(addressNext == null)){
                addressNext.textContent = "Address: " + address.value;
            }
        } else {
        const num = "{{address}}";
            if(num){
                if(!(address1 == null)){
                    address1.textContent = "Address: " + num;
                }
            } else {
                if(!(addressNext == null)){
                    addressNext.textContent = "Enter Address:";
                }
            }
        }
    });


    /* These next six functions allow the user to trigger the text box for either an activity that they would like to
    add or an education that they would like to add. I have each activity box or education box linked up to their
    respective text box*/
    act1.addEventListener("click", function(){
        if(text1.classList.contains("hide")){
            text1.classList.remove("hide");
        } else {
            text1.classList.add("hide");
        }
        if(save1.classList.contains("hide")){
            save1.classList.remove("hide");
        } else {
            save1.classList.add("hide");
        }
    });

    hob1.addEventListener("click", function(){
        if(write1.classList.contains("hide")){
            write1.classList.remove("hide");
        } else {
            write1.classList.add("hide");
        }

        if(push1.classList.contains("hide")){
            push1.classList.remove("hide");
        } else {
            push1.classList.add("hide");
        }


    });

    act2.addEventListener("click", function(){
        if(text2.classList.contains("hide")){
            text2.classList.remove("hide");
        } else {
            text2.classList.add("hide");
        }
    });

    hob2.addEventListener("click", function(){
        if(write2.classList.contains("hide")){
            write2.classList.remove("hide");
        } else {
            write2.classList.add("hide");
        }
    });

    act3.addEventListener("click", function(){
        if(text3.classList.contains("hide")){
            text3.classList.remove("hide");
        } else {
            text3.classList.add("hide");
        }
    });

    hob3.addEventListener("click", function(){
        if(write3.classList.contains("hide")){
            write3.classList.remove("hide");
        } else {
            write3.classList.add("hide");
        }
    });

    /* These next 6 boxes will basically reveal the next education or activity box once the user has saved their
    previous edited activity or education box. Once the save button is clicked, it will reveal the choice to add another
    activity or education (if they have not already added three yet). It will also set whatever the user put into the
    textarea as the new education or activity as the user in the box displayed*/
    save1.addEventListener("click", function(){
        if(act2.classList.contains("hide")){
            act2.classList.remove("hide");
        }



        if(text1.value){
            act1.textContent = text1.value;
        } else if(degree1) {
            act1.textContent = degree1;
        } else {
            act1.textContent = "Add(optional)"
        }
    });

    act2.addEventListener("click", function(){
       if(save2.classList.contains("hide")){
            save2.classList.remove("hide");
        } else {
            save2.classList.add("hide");
        }


    });

    push1.addEventListener("click", function(){
        if(hob2.classList.contains("hide")){
            hob2.classList.remove("hide");
        }

        if(write1.value){
            hob1.textContent = write1.value;
        } else if(action1){
            hob1.textContent = action1;
        } else {
            hob1.textContent = "Add(optional)"
        }
    });

    hob2.addEventListener("click", function(){
        if (push2.classList.contains("hide")){
            push2.classList.remove("hide");
        } else {
            push2.classList.add("hide");
        }

    });

    save2.addEventListener("click", function(){
        if(act3.classList.contains("hide")){
            act3.classList.remove("hide");
        }

        if(text2.value){
            act2.textContent = text2.value;
        } else if(degree2){
            act2.textContent = degree2;
        } else {
            act2.textContent = "Add(optional)"
        }
    });

    act3.addEventListener("click", function(){

        if(save3.classList.contains("hide")){
            save3.classList.remove("hide");
        } else {
            save3.classList.add("hide");
        }

    });

    push2.addEventListener("click", function(){
        if(hob3.classList.contains("hide")){
            hob3.classList.remove("hide");
        }

        if(write2.value){
            hob2.textContent = write2.value;
        } else if(action2){
            hob2.textContent = action2;
        } else {
            hob2.textContent = "Add(optional)";
        }
    });

    hob3.addEventListener("click", function(){


        if(push3.classList.contains("hide")){
           push3.classList.remove("hide");
        } else {
           push3.classList.add("hide");
        }


    });



    save3.addEventListener("click", function(){
        if(text3.value){
            act3.textContent = text3.value;
        } else if(degree3){

            act3.textContent = degree3;
        } else {
            act3.textContent = "Add(optional)"
        }
    });

    push3.addEventListener("click", function(){
        if(write3.value){
            hob3.textContent = write3.value;
        } else if(action3){
            hob3.textContent = action3;
        } else {
            hob3.textContent = "Add(optional)";
        }
    });



</script>
{% endblock %}