{% extends "base.html" %}
{% block title %}Editor{% endblock %}
{% block content %}
<form action="#" method="post" enctype="multipart/form-data">
    <input type="file" id="fileUpload" accept="image/*" style="display: none" name="image">

    <label for="fileUpload">
    <div style="overflow: auto;">
      {% if pic %}
        <img src="{{pic}}" alt="Click to upload"  width="300" style="cursor: pointer; border: 2px dashed gray; padding: 5px;
        float: left; margin: 10px; width: 200px;">
        <p style="font-size: 15px"><b>Click here to change the image</b></p>
      {% else %}
        <img src="static/profile_icon.png" alt="Click to upload"  width="300" style="cursor: pointer; border: 2px dashed gray; padding: 5px;
        float: left; margin: 10px; width: 200px;">
        <p>Click here to change the image</p>
      {% endif %}
    </div>
    </label>

    <p style="font-size: 32px"><b>Contact: </b></p>
    <div class="image-text-container">
    {% if email %}
        <p>Email: {{email}}</p>
    {% else %}
        <p>Enter email:</p>
    {% endif %}
    </div>
    <img src="static/edit_symbol.png" id="edit1" alt="Change Email" width="30px">
    <input type="text" id="emailChange" class = "hide" name="email">
    <div class="image-text-container">
    {% if phone %}
        <p>Phone Number: {{phone}}</p>
    {% else %}
        <p>Enter Phone Number:</p>
    {% endif %}
    </div>
    <img src="static/edit_symbol.png" id="edit2" alt="Change Email" width="30px">
    <input type="number" id="phoneChange" class="hide" name="phone">
    <p style="font-size: 32px"><b>Education: </b></p>
    <div class="image-text-container">
    <p id="edu1" style="border: 2px dashed black; border-radius: 10px;">Add(optional)</p>
        <textarea rows="3" cols="30" id="text1" name="active1" class="hide"></textarea>
        <button type="button" style="padding: 3px" id="edu1.2">save</button>
    <p id="edu2" class="hide" style="border: 2px dashed black; border-radius: 10px;">Add(optional)</p>
        <textarea rows="3" cols="30" id="text2" name="active2" class="hide"></textarea>
        <button type="button" style="padding: 3px" id="edu2.2" class="hide">save</button>
    <p id="edu3" class="hide" style="border: 2px dashed black; border-radius: 10px;">Add(optional)</p>
        <textarea rows="3" cols="30" id="text3" name="active3" class="hide"></textarea>
        <button type="button" style="padding: 3px" id="edu3.2" class="hide">save</button>
    </div>
    <div style="transform: translate(700px, -800px); max-width: 600px;">
    <p style="font-size: 32px"><b>Bio: </b></p>
        {% if bio %}
            <textarea rows="15" cols="50" name="bio" class="text">{{bio}}</textarea>
        {% else %}
            <textarea rows="15" cols="50" name="bio" class="text">Add Bio Here</textarea>
        {% endif %}
    </div>
    <button type="submit"> Submit Changes</button>
</form>
<script>
    const pencil = document.getElementById("edit1");
    const pencil1 = document.getElementById("edit2");
    const email = document.getElementById("emailChange");
    const phone = document.getElementById("phoneChange");
    const act1 = document.getElementById("edu1");
    const act2 = document.getElementById("edu2");
    const act3 = document.getElementById("edu3");
    const text1 = document.getElementById("text1");
    const text2 = document.getElementById("text2");
    const text3 = document.getElementById("text3");
    const save1 = document.getElementById("edu1.2");
    const save2 = document.getElementById("edu2.2");
    const save3 = document.getElementById("edu3.2");

    pencil.addEventListener("click", function(){
        if(email.classList.contains("hide")){
            email.classList.remove("hide");
        } else {
            email.classList.add("hide");
        }
    });

    pencil1.addEventListener("click", function(){
        if(phone.classList.contains("hide")){
            phone.classList.remove("hide");
        } else {
            phone.classList.add("hide");
        }
    });

    act1.addEventListener("click", function(){
        if(text1.classList.contains("hide")){
            text1.classList.remove("hide");
        } else {
            text1.classList.add("hide");
        }
    });

    act2.addEventListener("click", function(){
        if(text2.classList.contains("hide")){
            text2.classList.remove("hide");
        } else {
            text2.classList.add("hide");
        }
    });

    act3.addEventListener("click", function(){
        if(text3.classList.contains("hide")){
            text3.classList.remove("hide");
        } else {
            text3.classList.add("hide");
        }
    });

    save1.addEventListener("click", function(){
        if(act2.classList.contains("hide")){
            act2.classList.remove("hide");
        }
        if(save2.classList.contains("hide")){
            save2.classList.remove("hide");
        }
    });

    save2.addEventListener("click", function(){
        if(act3.classList.contains("hide")){
            act3.classList.remove("hide");
        }
        if(save3.classList.contains("hide")){
            save3.classList.remove("hide");
        }
    });


</script>
{% endblock %}