<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Video Editor</title>
</head>
<body>
<style>


</style>
    <div style = "text-align: center">
    <h2>Welcome to the video editing website, where we offer you a various amount of options to edit your videos</h2>
    <p> to get started, please click the button below in order to upload a video that you would like to edit</p>
    <form action="editor" method="post"enctype="multipart/form-data">
        <input type ="file" name="file" accept ="video/*" required>
        <button type="submit">Upload</button>
    </form>
    </div>
</body>
</html>