{% extends "base.html" %}
{% block title %}User{% endblock %}
{% block content %}
<style>
    /* Base style: look like a search bar */
textarea.searchbar {
  height: 40px;
  padding: 0 15px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #f9f9f9;
  font-size: 16px;
  resize: none; /* removes the draggable corner */
  outline: none;
  box-sizing: border-box;
}

.friends{

}

.viewer{

}

/* On focus: subtle highlight like a search input */
textarea.searchbar:focus {
  border-color: #66afe9;
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.6);
}
</style>

{% if alert %}
<script>
  alert("{{alert}}");
  window.location.href = "http://127.0.0.1:5000/login";
</script>
{% endif %}

{% if catalog %}
  {% for cat in catalog %}
    <div style="display: flex; justify-content: center;">
           <img src="{{cat.image}}" alt="Users profile pic" width="60px" class="wrapped-img">
            <div>
           <p>{{cat.uname}}</p>
           <p>{{cat.age}}</p>
           <p>{{cat.email}}</p>
            </div>
        </div>
        <div style="text-align: center">
            <button type="button" style="background-color: green" id="add" class="friends">Add {{cat.uname}}</button>
            <button type="button" id="profile" class="viewer">View {{cat.uname}}'s Profile</button>
        </div>
<hr>
  {% endfor %}
{% else %}
<p><b>No Request at the moment</b></p>
{% endif %}

<script>
    const formData = new FormData();
    const adding = document.querySelectorAll(".friends");
    adding.forEach(function(additive) {
        additive.addEventListener("click", function() {
            word = additive.textContent.trim();
            name = word.substring(4);
            formData.append("name",name);
            fetch("http://127.0.0.1:5000/addBack", {
        method: "POST",
        body: formData
      })
      .then(response => response.json())
      .then(data => {
        alert(data.message)
        window.location.reload();
      })
      /* Catch an error if it is present*/
      .catch(error => alert("Error: " + error));

        });
    });

    const dataPlan = new FormData();
    const booth = document.querySelectorAll(".viewer");
    booth.forEach(function(tooth) {
        tooth.addEventListener("click", function() {
            word = tooth.textContent.trim();
            name = word.substring(5,word.length - 10);
            dataPlan.append("name",name);
            fetch("http://127.0.0.1:5000/displayPerson", {
        method: "POST",
        body: dataPlan
      })
      .then(response => response.json())
      .then(data => {
        alert(data.message)
        window.location.href = "http://127.0.0.1:5000/displayUser";
      })
      /* Catch an error if it is present*/
      .catch(error => alert("Error: " + error));

        });
    });

</script>
{% endblock %}