{% extends "base.html" %}
{% block title %} Immanuel{% endblock %}
{% block content %}
<body style="background-color:blue">
<div style ="text-align: center">
<h2 style="background-color: powderblue"><i>Embrace Of Nature</i></h2>
</div>
<div style="text-align: center">
    <video width="450" controls> <source src="static/Embrace of Nature.mp4" type="video/mp4">
      </video>
</div>
<h3><u>What is Embrace Of Nature</u></h3>
<div style="text-align: center">
    <p><b>This project Embrace of Nature is meant to depict a peaceful nature environment, almost like how you see those disney princesses
    getting along with all the animals and dancing through the fields. It shows a girl sitting on a bench and taking in the view of the surrounding nature
    teh animals that roam that area as well. The flowers and all the trees are just meant to really make teh beauty of nature pop, something that
    we at times aren't able to witness until we sit down and intentionally take the time to view the beauty around us</b></p>
</div>
<h3><u>What was the inspiration</u></h3>
<div style="text-align: center">
    <p><b> This actually had drawn some inspirations from the story of the garden of eden and how beautiful it was along with the fact that humans
    and animals lived in harmony. It also was meant to be a reminder for us to take time to just sit back and really take into account the beauty
    of nature and Gods creation. It is just phenomenal to me because to be honest, I don't actually pay much attention to nature and the surrounding beauty, but sometimes while I am walking towards somewhere, I might look around at my surroundings and be like "WOAH" because although
    the beauty has always been there, it only became real to me when I actually decided to look at it instead of ignoring it and passing it by.
    But yeah, this really was inspired by nature and the garden of eden, along with the hidden beauty in things that we see every day, but don't
    consciously pay attention to</b></p>
</div>
<h3><u>How Long did it take</u></h3>
<div style="text-align: center">
    <p><b>This piece of art took what I believe to be about two weeks or maye even less. I believe I did just take breaks a lot though which
    may have lengthened the time for the completion of this art work (which is we are being honest, I may have done the same thing with most of my art).
    But it was cool making this art because as I made this, I started to just be like "WOAH" because despite it being a cartoony creation, sights like this can
    be found nearby in our local parks and nature filled areas. </b></p>
</div>
</body>
{% endblock %}