{% extends "base.html" %}
{% block title %} Immanuel{% endblock %}
{% block content %}
<!-- Sets the background color of the page to blue -->
<body style="background-color:blue">
<div style ="text-align: center">
    <!-- The title of the art will be centered and have a  blueish background -->
<h2 style="background-color: powderblue"><i>Immanuel</i></h2>
</div>
<div style="text-align: center">
    <video width="450" controls> <source src="static/Immanuel.mp4" type="video/mp4">
      </video>
</div>
<h3><u>What is Immanuel</u></h3>
<div style="text-align: center">
    <p><b>This project Immanuel is meant to encapsulate and honor the birth of Jesus, the savior of the world. It is phenomenal to me because
    it captures and paints the most historic event within history. This image captures the humble birth of Jesus in a manager and even takes into
    account the shepherds who  were visited by an angel and told not to be afraid. This was meant to be a Biblical piece of art, just to give honor
    and acknowledge the birth and story of Jesus.</b></p>
</div>
<h3><u>What was the inspiration</u></h3>
<div style="text-align: center">
    <p><b> This was actually inspired by the birth of Jesus in December. I believe I was in a fellowship meeting, and we were celebrating the
    birth of Jesus and one of the leaders talked about giving our gift of praise to God. She explained how God has given himself to us as a
    gift, and just by giving himself as a gift, we received an abundance of great things such s peace, joy, life, and the list continues. But
    for Christmas, we tend to just think about giving gifts to other people and wanting to receive gifts that we forget to acknowledge the birth of
    our savior who has given us so much. So this intrigued me and made me want to make something to acknowledge and give praise to God for giving
    us his son. Just like how we celebrate each others births on our birthday's we should acknowledge Jesus who gave us much more than we could even
    imagine. Thanks be to God</b></p>
</div>
<h3><u>How Long did it take</u></h3>
<div style="text-align: center">
    <p><b>This piece of art took like about a month. I had wanted to make it by the time of our Christmas
    celebration meeting, but I hadn't gotten the project done adn was going through trial and error. It was pretty motivational and joyful when I
    reflected on why I was making the artwork and the inspiration for it. This one Is one of my more detailed drawings as I wanted to encapsulate multiple
    that happened at the birth of Jesus. I believe I finished it around late December, and it was fun and awesome. Took some time but when you are in that art zone
    it goes back like that, and sometimes you won't even mind how long it takes because you are looking towards the end result and knowing that it will
    all be worth it.</b></p>
</div>
</body>
{% endblock %}