{% extends "base.html" %}
{%block title %}Retro{% endblock %}
{% block content %}
    <meta charset="UTF-8">
<body style="background-color:blue">
    <div style = "text-align: center">
    <h1 style ="background-color: powderblue"><i> Retro </i></h1>
        </div>
  <div style="text-align: center">
    <video width="450" controls> <source src="static/Retro Cover Art.mp4" type="video/mp4">
      </video>
  </div>
    <h2><u>What is Retro</u></h2>
    <div style="text-align: center">
    <p>This is retro, and it is an arcade game like structure featuring ghost from Pac man <br> and the spaceship from galga in a
    space like environment with a touch of some twinkling stars and just a pretty cool vibe in general as well. I also made a sci-fi retro
    game like beat to go with it as well</p>
    </div>
    <h2><u>What was the inspiration</u></h2>
    <div style="text-align: center">
    <p><br> This artwork was inspired by an arcade like mindset. I wanted to give a more outer space kind of vibe and do a little throwback to
    back in the day when people played at the arcade games such as pac man and galga, and I thought it would be cool to make a mashup of them
    and bring both worlds together, kind of putting the viewer into an eerie world where they are in the small spaceship surrounded by ghost just like
    the ones Pac man had to face</p>
    </div>
</body>
{% endblock %}
