{% extends "base.html" %}
{% block title %} Village Hero{% endblock %}
{% block content %}
<body style="background-color:blue">
<div style ="text-align: center">
<h2 style="background-color: powderblue"><i>Village Hero</i></h2>
</div>
<div style="text-align: center">
    <video width="450" controls> <source src="static/Village Hero.mp4" type="video/mp4">
      </video>
</div>
<h3><u>What is Village Hero</u></h3>
<div style="text-align: center">
    <p><b>The village hero art work is meant to give a more cultural aspect to my beats. One of my first cultural based beats that I made.
    While making the beat, it gave off heroic vibes so that is what the boy in the middle is meant to represent, a hero. The art work is meant
    to take place in a more open area, and I wanted to really go back to cultural roots with the art work, so I made sure to add some huts and make
    the land more vast terrain, more like a rural terrain. </b></p>
</div>
<h3><u>What was the inspiration</u></h3>
<div style="text-align: center">
    <p><b> TThis actually was inspired from the time I had been working with somebody on making beats for them. The guy I had been working
    for wanted to use mor cultural and afro beats kind of vibes, so I decided to get to work and get some made. I'll be honest, while making
    the afro beats, it really grew on me and was pretty cool to me as well because I am African so it was fun to incorporate
    my culture into my art work. I made sure to also include people playing drums and people dancing in the background of the art work because     villages in Africa tend to be very connected and produce a sense of community like you've never seen before. And there is this
    saying that goes like this "it takes a village to raise a child" which is true and really is illustrated and shown in african communities and households.
    SO just having the community aspect was very important for me to include in this art work. The shadows in teh back are meant to represent heros and warriors, they are meant to be
    the heros the young boy in the front aspires to be and to be a village hero.</b></p>
</div>
<h3><u>How Long did it take</u></h3>
<div style="text-align: center">
    <p><b>This piece of art, I don't actually remember exactly how long it took me because of how long ago I made it, btu I do believe that it
    was relatively quicker than my other pieces of art. This was because I low-key was in this kind of artist zone and was popping out multiple art pieces
    at this time. I had also decided to just turn the beats that I had originally intended for the person I was working with in high school into art since I
    did not want to let it go to waste. So yeah, I don't exactly know how long it took to make this piece of art, but I do believe it wasn't that long of a time frame since I
    was in that artist zone.</b></p>
</div>
</body>
{% endblock %}